name: Docker Image CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: jadametz/goTweetDelete/gotweetdelete
        username: jadametz
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
